&:first-child {
  // speed
  order: 3;
}
&:nth-of-type(2) {
  // special-defense
  order: 6;
}
&:nth-of-type(3) {
  // special-attack
  order: 5;
}
&:nth-of-type(4) {
  // defense
  order: 4;
}
&:nth-of-type(5) {
  // attack
  order: 2;
}

&:last-child {
  // hp
  order: 1;
}
