* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7d7cf;
}

body .loading {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .app-wrapper {
  width: 100%;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

body .app-wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100px;
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

body .app-wrapper header .title {
  color: #171717;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
}

body .app-wrapper header .subtitle {
  color: #171717;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
}

body .app-wrapper .wild-pokemon {
  min-height: 300px;
  background: firebrick;
  padding: 15px;
}

body .app-wrapper .wild-pokemon h2 {
  color: #f3f3f3;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

body .app-wrapper .wild-pokemon .sprite {
  display: block;
  width: 150px;
  margin: 0px auto;
}

body .app-wrapper .wild-pokemon h3 {
  color: #f3f3f3;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

body .app-wrapper .wild-pokemon .catch-btn {
  width: 200px;
  height: 35px;
  display: block;
  margin: 25px auto;
  background: #ffce00;
  border: none;
  outline: none;
  color: #171717;
  font-weight: 700;
  cursor: pointer;
}

body .app-wrapper .wild-pokemon .catch-btn:active {
  background: #f7a800;
}

body .app-wrapper .pokedex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #fff;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

body .app-wrapper .pokedex .pokedex-list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 15px;
}

body .app-wrapper .pokedex .pokedex-list .pokemon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 150px;
  padding: 15px;
  background: #f3f3f3;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .app-wrapper .pokedex .pokedex-list .pokemon .remove {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: firebrick;
  color: #f3f3f3;
  font-size: 28px;
  cursor: pointer;
  z-index: 20;
}

body .app-wrapper .pokedex .pokedex-list .pokemon .remove:hover {
  background: #c14e4e;
}

body .app-wrapper .pokedex .pokedex-list .pokemon .sprite {
  width: 100%;
}

body .app-wrapper .pokedex .pokedex-list .pokemon:hover {
  background: #e6e4e4;
}

body .modal-content .grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "image image stats stats stats stats" "details details details details details details" "profile-left profile-left profile-left profile-right profile-right profile-right";
  grid-gap: 2px;
  background-color: #fff;
}

body .modal-content .grid-container .item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: image;
  height: 250px;
}

body .modal-content .grid-container .item1 img {
  max-height: 80px;
}

body .modal-content .grid-container .item1 img .item1 img {
  height: 150px;
}

body .modal-content .grid-container .item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: stats;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .modal-content .grid-container .item2 .skills_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (max-width: 1200px) {
  body .modal-content .grid-container .item2 .skills_container {
    width: 90%;
  }
}

@media screen and (max-width: 990px) {
  body .modal-content .grid-container .item2 .skills_container {
    width: 100%;
  }
}

body .modal-content .grid-container .item2 .skills_container p.skills {
  list-style: none;
  padding: 0.25em 0rem;
  margin-bottom: 0;
  font-weight: 500;
}

body .modal-content .grid-container .item2 .skills_container .progress {
  height: 1.1em;
  width: 60%;
  background-color: #d3f091c7;
}

body .modal-content .grid-container .item2 .skills_container .progress-bar {
  background-color: #98d100;
  color: #575858;
  font-weight: 500;
}

body .modal-content .grid-container .item2 .skills_container:first-child {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

body .modal-content .grid-container .item2 .skills_container:nth-of-type(2) {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

body .modal-content .grid-container .item2 .skills_container:nth-of-type(3) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

body .modal-content .grid-container .item2 .skills_container:nth-of-type(4) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

body .modal-content .grid-container .item2 .skills_container:nth-of-type(5) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

body .modal-content .grid-container .item2 .skills_container:last-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body .modal-content .grid-container .item4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: details;
  height: 10px;
}

body .modal-content .grid-container .item5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: profile-left;
  height: 100px;
}

body .modal-content .grid-container .item6 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: profile-right;
  height: 100px;
}

body .modal-content .grid-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 20px 0;
  background-color: #e6e4e4;
}
/*# sourceMappingURL=main.css.map */